

table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px auto;
}

thead {
  background-color: #5a6f09;
  color: white;
}

th{
    text-align: left;
    border: 1px solid #000000;

    padding: 15px 10px 0px 10px;
}
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #000000;
 vertical-align: center;
}

tbody tr:nth-child(even) {
  background-color: #5b6f0937; /* Couleur de fond pour les lignes paires */
}

tbody tr:nth-child(odd) {
  background-color: white; /* Couleur de fond pour les lignes impaires */
  color: #2f3a04;
}

.arrow {
  width: 10px;
  height: 10px;
  position: relative;
  left: 90%;
  display: flex;
  top: -18px;
  cursor: pointer;
  opacity: 0.5;
}
.arrow.active{
display: block;
 opacity: 1;
}

.search{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
width: 95%;
height: 101px;
margin:auto;
}
.searchBar{
  width: 25%;
  margin-right: 10px;
}
.table-header{
display: flex; 
flex-direction:column-reverse;
justify-content: flex-start;
gap:10px;
width: 50%;
margin-left: 10px;
}

#rowsPerPage{
  width: 100px;
  margin: 10px  ;
}
.rows-per-page{
  margin-top: 15px;
  display: flex;

}

.pagination{
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 50px auto;
  padding: 0px;
}



.page-link{
  background-color: #5a6f09;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.page-link.active-page{
  background-color: #93ad18;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.page-btn{
  background-color: #5a6f09;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}


.page-btn:hover {
  background-color: #93ad18; 
}

