Header {
  padding: 0.5rem 0rem 0.5rem 0rem;
  box-shadow:  0px 0px 3px 3px #94ad181e;;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoSection {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgLogo {
  width: 50px;
  margin: 0px;
}
.logoTitle {
  margin: 0;
  color: #93ad18;
  font-size: 1em;
}
.icone {
  width: 20px;
  margin: 0.5rem;
}

.navlink {
  display: flex;
  flex-direction: row;
  padding-right: 1.5em;
  align-items: center;
  justify-content:flex-end;
  text-align: center;
  font-size: 16px;
  height: 50px;
}

.navlink:hover {
  font-weight: 600;
}
.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0.5em;
  width: 250px;
}
.active{
  display: none;
}